*{
    box-sizing: border-box;
}

body{
    background-image: url(background/MAG-TRAILER_0000_MAG-TRAILER.FRAME_.169.4K_1240-1920x1080.jpg.crdownload);
}

main{
    width: 80%;
    margin: auto;
    max-width: 950px;
    background-color: rgb(87, 148, 168);
}

header{
    height: 300px;
    background-image: url(background/MAG-TRAILER_0000_MAG-TRAILER.FRAME_.169.4K_1240-1920x1080.jpg.crdownload);
}

ul{
    padding-left: 20px;
}

nav>ul>li{
    display: inline;
    padding-left: 0px;
}

ul>li{
    list-style-type: none;
    color: black;
    padding: 10px;

}

ul>li>a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    background-color: blue;
    color: aliceblue;
    padding: 10px;
}

h1{
    padding-top: 125px;
}

h2, h1{
   color: darkred; 
   text-align: center;
}

p{
    color: black;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

footer{
    border-top: 1px solid black;
    color: black;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

nav{
    border-bottom: 1px solid black;
}
@media screen and (max-width:600px) {
    main{
        
    }
    
}
